@import url(./reset.css);

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 공통 바디 스타일 */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 90px;
  padding: 0px 38px;
}

main {
  background-color: #f2f2f2;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header ul > li {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 59px;
  color: #ebebeb;
  font-weight: 600;
}

.hambergerMenu {
  position: absolute;
  right: 38px;
}

.financeCenter {
  width: 1012px;
  height: 581px;
  background-color: aliceblue;
  grid-area: financeCenter;
  position: relative;
}

.title {
  /* color: #f2f2f2; */
  font-size: 32px;
  font-weight: 600;
  width: 593px;
  height: 98px;
  text-align: center;
  position: absolute;
  top: 207px;
  left: 209px;
}
.explain {
  width: 483px;
  height: 78px;
  /* color: #f2f2f2; */
  text-align: center;
  position: absolute;
  top: 310px;
  left: 264px;
}

.finance {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 137px;
  left: 452px;
}

.financecontentfooter {
  /* color: #f2f2f2; */
  display: flex;
  justify-content: space-around;
  width: 185px;
  position: absolute;
  bottom: 30px;
  left: 414px;
}

.contentfooter {
  display: flex;
  justify-content: space-around;
  width: 185px;
  position: absolute;
  left: 28px;
  bottom: 21px;
}

.tag {
  width: 107px;
  height: 40px;
  color: white;
  background-color: #ff565c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
}

.featuredStories {
  width: 317px;
  height: 580px;
  background-color: #fff;
  grid-area: featuredStories;
}

.enterainment {
  width: 663px;
  height: 274px;
  background-color: AntiqueWhite;
  grid-area: enterainment;
  position: relative;
}

.enterainmenttitle,
.financeSmalltitle,
.financelowtitle,
.gamingtitle,
.technologytitle {
  font-size: 24px;
  position: absolute;
  top: 89px;
  left: 25px;
}

.financeSmall {
  width: 316px;
  height: 274px;
  background-color: Aquamarine;
  grid-area: financeSmall;
  position: relative;
}

.financelow {
  width: 316px;
  height: 274px;
  background-color: Aquamarine;
  grid-area: financelow;
  position: relative;
}
.gaming {
  width: 316px;
  height: 274px;
  background-color: LightCoral;
  grid-area: gaming;
  position: relative;
}

.readmore {
  width: 316px;
  height: 581px;
  background-color: LightCyan;
  grid-area: readmore;
  position: relative;
}

.readmoretitle {
  font-size: 32px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 25px;
  width: 263px;
}

.readmoreexplain {
  font-size: 18px;
  width: 252px;
  margin-top: 20px;
  margin-left: 25px;
}

.readmorebutton {
  border: 1px solid #ebebeb;
  width: 210px;
  height: 60px;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 25px;
}
.technology {
  width: 316px;
  height: 274px;
  background-color: PeachPuff;
  grid-area: technology;
  position: relative;
}

.container {
  padding: 8px 45px 120px 40px;
  display: grid;
  grid-template-areas:
    "financeCenter financeCenter financeCenter financeSmall"
    "financeCenter financeCenter financeCenter readmore"
    "featuredStories enterainment enterainment readmore"
    "featuredStories financelow gaming technology";
}

section {
  margin-top: 32px;
}

.featuredStoriestitle {
  font-size: 14px;
  margin-top: 35px;
  margin-left: 27.5px;
}
.featurenumber {
  font-size: 18px;
  /* margin-left: 27.5px; */
  padding-left: 27.5px;
  height: 83px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
}

.featuretitle {
  margin-left: 38px;
}
